
PORT=3000
MONGO_URI=mongodb+srv://<DB_USER>:<PASSWORD_CODIFICADA>@cluster0.ejmwhpz.mongodb.net/ecommerce?retryWrites=true&w=majority
JWT_SECRET=tu_secreto_jwt_aqui
JWT_EXPIRES_IN=1h
SALT_ROUNDS=10
NODE_ENV=development